p{margin:0; padding:0}

body {
	background-repeat: no-repeat;
}

.action {
	float: left;
}

#actions {
	margin-top: 200px;
	margin-left: 500px;
}

#map {
	width: 648px;
	height: 648px;
	border-width: 4px;
}

#monsters {
	margin-top: 500px;
	margin-left: 500px;
}

.monster {
	float: left;
	margin-right: 50px;
	height: 89px;
	width: 124px;
}

.tile {
	float: left;
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
}

#wordDiv {
	position: absolute;
	font-family: 'Rufina', serif;
	font-size: 64px;
	top: 300px;
	left: 400px;
}

#wordScoreDiv {
	position: absolute;
	top: 450px;
	left: 450px;
}

#HUD 
{
	display: inline-block;
	position: relative;
	font-family: 'Rufina', serif;
	float: right;
}

#nextWord
{
	font-size: 32px;
}

.stats
{
	font-size: 16px;
}

#letterScores
{
	display: inline-block;
	position: relative;
	float: left;
}