/* CSS definition file containing site wide stylesheets */

A:active {
	color: rgb(96,91,185);
 	text-decoration: none 
}

.Subheads {
	font-family: "Arial Black",  "Helvetica Bold",  Charcoal,  Sans-serif;
 	font-size: x-small
}

.Quotes {
	font-family: "Times New Roman",  Times,  Serif;
 	font-size: medium;
 	font-style: italic
}

.Footnotes {
	font-family: Arial, Helvetica, Geneva, Sans-serif;
 	font-size: x-small
}

A:link {
	color: rgb(0,93,126)
}

.Caption {
	font-family: Arial, Helvetica, Geneva, Sans-serif;
 	font-size: x-small;
 	font-style: italic
}

.Code {
	font-family: "Courier New",  "Lucida Console",  Courier,  Monaco,  Monospace;
 	color: rgb(0,0,0)
}

A:visited {
	color: rgb(0,93,126)
}

.Credits {
	font-family: "Times New Roman",  Times,  Serif;
 	font-size: x-small;
 	font-weight: bold;
 	text-align: center
}

H1 {
	font-family: Arial, Helvetica, Geneva, Sans-serif;
 	font-size: x-large;
 	color: rgb(255,85,0)
}

.Normale {
	font-family: Verdana, Tahoma, Arial, Helvetica, Sans-serif;
 	font-size: x-small;
 	color: rgb(0,51,102)
}

H2 {
	font-family: Verdana, Tahoma, Arial, Helvetica, Sans-serif;
 	font-size: medium;
 	color: rgb(50,50,50)
}

P {
	font-family: Verdana, Tahoma, Arial, Helvetica, Sans-serif;
 	font-size: x-small;
 	color: rgb(88,88,88)
}

LI {
	font-size: x-small
}

A {
	color: rgb(96,91,185);
 	text-decoration: none 
}

.TextNavBar {
	font-family: "Times New Roman",  Times,  Serif;
 	font-size: xx-small
}

A:hover {
	color: rgb(0,93,126);
 	text-decoration: underline
}